{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>
<a href="{% url 'portfolio:competencia_criar' %}">➕ Nova Competência</a>
<section>
    {% for comp in competencias %}
    <article>
        <header>
            <h3>{{ comp.nome }}</h3>
        </header>
        <section>
            <p>{{ comp.descricao }}</p>
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in comp.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias associadas</li>
                {% endfor %}
            </ul>
        </section>
        <footer>
            <a href="{% url 'portfolio:competencia_editar' comp.pk %}">✏️ Editar</a>
            <a href="{% url 'portfolio:competencia_apagar' comp.pk %}">🗑️ Apagar</a>
        </footer>
    </article>
    {% endfor %}
</section>
{% endblock %}