{% extends "portfolio/base.html" %}

{% block content %}
<h2>Projetos</h2>
<section>
    {% for projeto in projetos %}
    <article>
        <header>
            <h3>{{ projeto.nome }}</h3>
            <p>{{ projeto.ano }}</p>
        </header>
        <section>
            <p>{{ projeto.descricao }}</p>
            {% if projeto.repositorio_github %}
                <p><a href="{{ projeto.repositorio_github }}">GitHub</a></p>
            {% endif %}
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in projeto.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias associadas</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}