{% extends "portfolio/base.html" %}

{% block content %}
<h2>Tecnologias</h2>
<a href="{% url 'portfolio:tecnologia_criar' %}">➕ Nova Tecnologia</a>
<section>
    {% for tec in tecnologias %}
    <article>
        <header>
            <h3>{{ tec.nome }}</h3>
            <p>{{ tec.categoria }} — {{ tec.get_nivel_display }}</p>
        </header>
        <section>
            <p>{{ tec.descricao }}</p>
        </section>
        <footer>
            <a href="{% url 'portfolio:tecnologia_editar' tec.pk %}">✏️ Editar</a>
            <a href="{% url 'portfolio:tecnologia_apagar' tec.pk %}">🗑️ Apagar</a>
        </footer>
    </article>
    {% endfor %}
</section>
{% endblock %}